# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# virtualenv
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# .env file for environment variables
.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Ignore .DS_Store files
.DS_Store

# MkDocs documentation
/site

# PyBuilder
/target/

# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Typescript
*.tsbuildinfo

# VS Code
.vscode/

# Ignore system files
.DS_Store
.gitconfig

# Ignore personal or sensitive files
aau_token
history.sqlite

# Ignore specific files and directories
README
59938e1f0534d2b1f67d0cb8d5a83c49
64b28a218cdc1c2c15314d3b495c3bb6

# Node.js specific
package.json
tsconfig.esm.json
parse.js
parse.js.map
index.js

# Documentation and License
LICENSE.md
README.md

# TypeScript definitions and maps
exceptions.d.ts
exceptions.js
index.d.ts
index.js
models.d.ts
models.js
zep-client.d.ts
zep-client.js
exceptions.js.map

# Ignore all JavaScript files
*.js
*.ts